@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-family: "League Spartan", serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "League Spartan", serif;
  background-color: rgb(20, 22, 37);
  color: white;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
input {
  outline: none;
  background: transparent;
  border: none;
  font-family: "League Spartan", serif;
  color: white;
  font-weight: 600;
  font-size: 14px;
}
aside {
  background-color: rgb(30, 33, 57);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 105px;
  border-radius: 0 15px 15px 0;
  display: grid;
  grid-template-rows: 1fr 0.15fr;
}
.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgb(124, 93, 250);
  border-radius: 0 15px 15px 0;
  position: relative;
}
.logoWrapper img {
  position: relative;
  width: 40px;
  height: 37px;
  z-index: 1;
}
.logoWrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: rgb(146, 119, 255);
  border-radius: 15px 0 15px 0;
}
.mine img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.asidesa {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mine {
  border-top: 1px solid grey;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainHeader {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 0 200px;
  align-items: center;
  width: fit-content;
}
body {
  height: 100%;
}

html {
  height: 100%;
}

.mainHeader h3 {
  font-size: 40px;
}

.leftNovices p {
  color: rgb(161, 166, 193);
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 0 15px;
  gap: 0 35px;
}

.btns button {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}
.newInvoive {
  background-color: rgb(124, 93, 250);
  padding: 7px;
  border-radius: 40px;
  font-weight: 600;
  font-size: 15px;
}
.newInvoive > span:nth-child(1) {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
}
.newInvoive > span:nth-child(1) > svg:nth-child(1) {
  width: 10px;
  height: 10px;
}

.newInvoive {
  padding: 7px 10px 7px 7px;
}

.btns button {
  font-size: 15px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.novo {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 0 30px;
  justify-content: space-between;
  cursor: pointer;
  background: rgb(30, 33, 57);
  padding: 20px;
  border-radius: 10px;
  padding: 25px 20px;
  display: grid;
  grid-template-columns: repeat(6, auto);
  border: 1px solid rgb(30, 33, 57);
  transition: all 0.3s ease-in-out;
}
.novo:hover {
  border-color: rgb(124, 93, 250);
}
.wrapper {
  width: 660px;
  display: flex;
  flex-direction: column;
  gap: 50px 0;
}

.mainHeader {
  width: 100%;
}
.listNov {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.paraID > span:nth-child(1) {
  color: rgb(126, 136, 195);
}

.paraID {
  font-size: 14px;
  font-weight: 800;
}

.createdAt {
  color: rgb(223, 227, 250);
  font-size: 15px;
  font-weight: 400;
}

.clienName {
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: initial;
}

.OuSpan {
  background: rgba(51, 214, 159, 0.06);
  padding: 10px 35px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: first baseline;
  text-align: center;
  gap: 0 10px;
  color: rgb(51, 214, 159);
  border-radius: 6px;
}

.novo {
  padding: 15px 20px;
}

.InSpan {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  color: rgb(51, 214, 159);
  display: block;
  background: rgb(51, 214, 159);
}
.pending {
  color: rgb(255, 143, 0);
  background: rgba(255, 143, 0, 0.06);
}
.pending .InSpan {
  color: rgb(255, 143, 0);
  background: rgba(255, 143, 0);
}

.draft {
  background: rgba(223, 227, 250, 0.06);
  color: rgb(223, 227, 250);
}
.draft .InSpan {
  color: rgb(223, 227, 250);
  background: rgba(223, 227, 250);
}

.novo {
  grid-template-columns: auto auto 1fr 0.5fr 90px auto;
  gap: 0 15px;
}

.OuSpan {
  padding: 10px 10px;
}
.newInvoive {
  transition: background 0.15s ease-in-out;
}
.newInvoive:hover {
  background-color: rgb(146, 119, 255);
}

/* Element | http://localhost:5173/ */

.filterStatus {
  position: relative;
}

.dropMenu {
  position: absolute;
  bottom: -120px;
  background: rgb(37, 41, 69);
  padding: 15px;
  border-radius: 10px;
}

.dropMenu > ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  width: 130px;
}

/* Element | http://localhost:5173/ */

.dropMenu .box {
  width: 15px;
  height: 15px;
  background: rgb(30, 33, 57);
  border-radius: 2px;
  transition: border ease-in-out 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropMenu > ul:nth-child(1) > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 15px;
  width: 100%;
  cursor: pointer;
}
.dropMenu > ul:nth-child(1) > li:hover .box {
  border: 1px solid rgb(124, 93, 250);
}
.btnsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropMenu .chosenState {
  background-color: rgb(124, 93, 250) !important;
}
.filterStatus > span {
  transition: all ease-in-out 0.2s;
}
.translate {
  transform: rotate(180deg);
}
.NewInvoiceAdd {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 105px;
  background: rgb(20, 22, 37);
  padding: 2rem 3rem;
  /* height: 100vh; */
  padding: 3rem 3rem 1rem 3rem;
  width: 640px;
}
.NewInvoiceAdd > h3:nth-child(1) {
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 4.5rem;
}

.mainForm > section > p {
  text-transform: capitalize;
  color: rgb(124, 93, 250);
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 1rem;
}

.mainForm input {
  width: 100%;
  background: rgb(30, 33, 57);
  padding: 1rem 1.25rem;
  border-radius: 5px;
  border: 1px solid rgb(37, 41, 69);
  transition: all 0.3s ease-in-out;
}
.mainForm > section > div,
.threeDivs div,
.pickDate,
.dropDown {
  display: flex;
  gap: 8px 0;
  flex-direction: column;
  position: relative;
}
.mainForm input:focus {
  border: 1px solid rgb(124, 93, 250);
}
.mainForm label {
  color: white;
  font-size: 14px;
  color: rgb(223, 227, 250);
  transition: all 0.3s ease-in-out;
}
.billFrom {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 20px;
  margin-bottom: 30px;
}
.billFrom > p:nth-child(1) {
  grid-column: 1/-1;
}
div.StreetAddress:nth-child(2) {
  grid-column: 1/-1;
}
.billTo {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}
.threeDivs {
  display: flex;
  flex-direction: row !important;
  gap: 0 15px !important;
}

.billTo > article {
  display: flex;
  flex-direction: row;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 30px;
}

.dropDown {
  height: 100%;
}
#drop {
  outline: none;
  border: none;
  width: 100%;
  appearance: none;
  background: rgb(30, 33, 57);
  padding: 1rem 1.25rem;
  border-radius: 5px;
  border: 1px solid rgb(37, 41, 69);
  transition: all 0.3s ease-in-out;
  font-family: "League Spartan", serif;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

#drop > option {
  font-family: "Spartan", sans-serif;
}

/* Inline #3 | http://localhost:5173/ */

.billTo {
  margin-bottom: 30px;
}

.itemList .paero {
  color: grey;
  font-size: 25px;
  color: rgb(119, 127, 152);
}

.addNewItem {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: first baseline;
  gap: 0 10px;
  background: rgb(37, 41, 69);
  padding: 15px 10px;
  border-radius: 25px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(223, 227, 250);
  font-weight: 600;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
.addNewItem:hover {
  background: rgb(30, 33, 57);
}
.mainForm > section .wrapAlso {
  display: grid;
  grid-template-columns: 1.75fr 0.75fr 1fr 0.5fr auto;
  gap: 0 15px;
  margin-bottom: 2rem;
}
.mainForm > section .wrapAlso > button:nth-child(5) {
  padding: 10px 15px;
}
.mainForm > section .wrapAlso > div {
  display: flex;
  gap: 8px 0;
  flex-direction: column;
}
.itemList {
  margin-bottom: 1rem;
}

.mainForm {
  overflow-y: scroll;
}
.Rashwan {
  overflow: hidden !important;
}

.NewInvoiceAdd {
  height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mainForm {
  height: fit-content;
  height: auto;
}

.wrapperNoSee {
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  opacity: 0.5;
  position: fixed;
  background-color: black;
  z-index: 100;
}

.NewInvoiceAdd {
  z-index: 150;
}
.formControl {
  display: grid;
  grid-template-columns: 1.75fr 1fr 1fr;
  padding-bottom: 1rem;
  padding-top: 2rem;
}
.formControl button {
  padding: 15px 19px;
  color: rgb(223, 227, 250);
  background: rgb(37, 41, 69);
  border-radius: 25px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}
.discard {
  place-self: flex-start;
}
.discard:hover {
  color: black;
  background-color: white;
}
.saveDraft {
  background-color: rgb(54, 59, 83);
  margin-right: 10px;
}
.saveDraft:hover {
  background-color: rgb(30, 33, 57);
  color: white;
}
.formControl .saveSend {
  background-color: rgb(124, 93, 250);
}
.saveSend:hover {
  background-color: rgb(146, 119, 255);
  color: white;
}

.StreetAddress {
  position: relative;
}

.required input {
  border: 1px solid rgb(236, 87, 87) !important;
}

div.required > label:nth-child(1) {
  color: rgb(236, 87, 87);
}

.requiredDivo {
  text-transform: capitalize;
  font-size: 12px;
  color: rgb(236, 87, 87);
  font-weight: 600;
  color: white;
  position: absolute !important;
  bottom: -20px;
  right: 10px;
}

.formControl {
  padding-bottom: 5px;
  padding-top: 5px;
}

.whatWrong {
  grid-column: 1/-1;
  margin-bottom: 5px;
}
.whatWrong > p {
  text-transform: capitalize;
  color: rgb(236, 87, 87);
  font-weight: 500;
}
.wrapper {
  width: 708px;
}

.viewInvoice {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.backGoo {
  margin-bottom: 2rem;
  text-align: left;
}

.artFie {
  margin-bottom: 2rem;
  background-color: rgb(30, 33, 57);
  border-radius: 5px;
  padding: 15px;
  box-shadow: rgba(72, 84, 159, 0.1) 0px 10px 10px -10px;
}

.backGoo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 10px;
  justify-content: start;
  align-items: first baseline;
  font-size: 15px;
  transition: color 0.3s ease-in-out;
  width: fit-content;
}
.backGoo:hover {
  color: rgb(136, 142, 176);
}
.bIcong {
  transition: transform 0.3s ease-in-out;
}
.backGoo:hover .bIcong {
  transform: translateX(-10px);
}
.firstTickle {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.leftSer {
  display: flex;
  align-items: center;
  gap: 0 15px;
}
.rightSer {
  display: flex;
  align-items: center;
  gap: 0 15px;
}
.rightSer button {
  padding: 15px 19px;
  color: rgb(223, 227, 250);
  background: rgb(37, 41, 69);
  border-radius: 25px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  padding: 15px 20px;
}

.rightSer {
  justify-content: flex-end;
}

.rightSer .rgDelete {
  background: rgb(236, 87, 87);
}
.rgEdit:hover {
  color: rgba(0, 0, 0, 0.651);
  background: white;
}
.rightSer .rgDelete {
  padding: 14px 22px;
}
.rgDelete:hover {
  background: rgb(255, 151, 151);
  color: white;
}

.leftSer > label:nth-child(1) {
  text-transform: capitalize;
  color: rgb(223, 227, 250);
  font-size: 14px;
}

.Noses {
  padding: 10px 20px;
}
.artFie {
  padding: 20px 15px;
}

.rightUpper {
  grid-row: 1;
  grid-column: 1/2;
}

.secondTickle {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.address {
  align-self: flex-end;
  justify-self: flex-end;
}

.midArticle {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.articleFooter {
  grid-column: 1/-1;
  grid-row: 3/4;
  background: rgb(37, 41, 69);
  padding: 1rem;
  border-radius: 10px;
  margin: 10px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.summaryl {
  background: black;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 1.5rem;
  border-radius: 0 0 10px 10px;
  width: 100%;
}

.tableLike {
  padding: 1rem;
}

.itemViewDis {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
}
.tableLike > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.itemViewDis {
  grid-column: 1/-1;
}
.rightUpper {
  display: flex;
  flex-direction: column;
}
.NowIdF {
  font-size: 18px;
  font-weight: 600;
}
.textNext {
  color: rgb(223, 227, 250);
  font-size: 15px;
  line-height: 1.125;
  letter-spacing: -0.25px;
  font-weight: 400;
  text-transform: capitalize;
}
.articleFooter {
  margin-top: 3rem;
}
.address {
  text-align: right;
  line-height: 1.25;
}
.secondTickle {
  gap: 15px 0;
}
.rightUpper {
  gap: 5px 0;
}
.midArticle > div {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}
.midArticle > div > h4 {
  font-size: 19px;
}

.ceTer {
  line-height: 1.35;
}

.ceTer > h4:nth-child(1) {
  font-size: 18px;
}

.tableLike > ul {
  gap: 25px 0;
}

.tableLike {
  margin-bottom: 0.5rem;
}
.summaryl > p {
  text-transform: capitalize;
}
.summaryl > h3 {
  font-size: 25px;
}

.SomeWhereElse {
  font-size: 30px;
}
.rightSer .PaidAs {
  background: rgb(124, 93, 250);
}
.rightSer .PaidAs:hover {
  background: rgb(146, 119, 255);
}
.controlRod {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 0 15px;
}

.controlRod .discard {
  grid-column: 2/-3;
}

.deleteWrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 11300;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.deleteWrapper > section:nth-child(1) {
  background: rgb(30, 33, 57);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  border-radius: 10px;
  width: 500px;
}

.deleteWrapper > section > h2 {
  font-size: 30px;
}

.btnsDelete {
  display: flex;
  justify-content: flex-end;
  gap: 0 15px;
}

.btnsDelete button {
  padding: 15px 19px;
  color: rgb(223, 227, 250);
  background: rgb(37, 41, 69);
  background-color: rgb(37, 41, 69);
  border-radius: 25px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}
.btnsDelete button:nth-child(2) {
  background: rgb(236, 87, 87);
}
.btnsDelete button:nth-child(2):hover {
  background: rgb(255, 151, 151);
}
body {
  transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
}
body.light {
  background-color: rgb(248, 248, 251);
  color: rgb(12, 14, 22);
}
.lightre {
  background-color: white;
  border: 1px solid white;
}

.lightre .createdAt {
  color: rgb(136, 142, 176);
}

.lightre .clienName {
  color: rgb(136, 142, 176);
}
.wfilterStatus {
  color: rgb(12, 14, 22);
}

/* Element | http://localhost:5173/ */

.wdropMenu.dropMenu {
  background: white;
  box-shadow: rgba(72, 84, 159, 0.25) 0px 10px 20px;
}

/* Inline #1 | http://localhost:5173/ */

.wdropMenu.dropMenu .box {
  background: rgb(223, 227, 250);
}
.NewInvoiceAdd.whiteNewInvoiceAdd {
  background: white;
  color: rgb(126, 136, 195);
}
.whiteNewInvoiceAdd .mainForm label {
  color: rgb(126, 136, 195);
}

.whiteNewInvoiceAdd input {
  background: white;
}

.wmainForm input {
  border: 1px solid rgb(223, 227, 250);
  color: rgb(12, 14, 22);
}
.wmainForm #drop {
  background: white;
  color: rgb(126, 136, 195);
  border: 1px solid rgb(223, 227, 250);
}

.wmainForm #date {
  color: rgb(126, 136, 195);
}
.wmainForm .addNewItem {
  background: rgb(249, 250, 254);
  color: rgb(126, 136, 195);
}

.wmainForm .addNewItem:hover {
  background: rgb(223, 227, 250);
}
.wviewInvoice .artFie {
  background: white;
  color: rgb(12, 14, 22);
}
.wviewInvoice .textNext {
  color: rgb(136, 142, 176);
}

.wviewInvoice .articleFooter {
  background: white;
}

.wviewInvoice .summaryl {
  background: rgb(55, 59, 83);
  color: white;
}

.wviewInvoice .leftSer > label:nth-child(1) {
  color: black;
}

.deleteWrapper.wdeleteWrapper > section:nth-child(1) {
  background: white;
}

@media screen and (min-width: 768px) {
  .wrapper > aside:nth-child(1) > button:nth-child(2) {
    justify-self: center;
  }

  aside {
    padding-bottom: 30px;
  }

  .mine {
    padding-top: 20px;
  }
}
/* max-width 1450px min-width:1250px */
@media screen and (max-width: 1450px) {
}
/* max-width 1250px min-width:1025px */
@media screen and (max-width: 1250px) {
}
/* max-width 1025px min-width:768px */
@media screen and (max-width: 1025px) {
  aside {
    position: static;
    height: 100%;
    grid-row: 1/-1;
    z-index: 200;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 105px 1fr;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    max-height: 10vh;
  }

  body {
    max-height: 100vh;
  }

  .mainHeader {
    width: 80vw;
    justify-content: space-between;
  }

  .wrapper > main:nth-child(3) {
    grid-column: 2/3;
    width: 80vw;
    place-self: center;
  }
  .mainHeader {
    gap: 0;
  }
  .viewInvoice {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .viewInvoice {
    padding-left: 2rem;
    padding-right: 1rem;
  }

  .firstTickle {
    grid-template-columns: auto 1fr;
  }
}
/* max-width 768px min-width:500px */
@media screen and (max-width: 768px) {
  .wrapper > aside:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/-1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    padding-right: 15px;
  }

  .mainHeader {
    grid-row: 2/3;
    grid-column: 1/-1;
    margin-top: 0;
    width: 95vw;
  }

  .wrapper > main:nth-child(3) {
    grid-column: 1/-1;
    width: 95vw;
  }

  .wrapper {
    /* gap: 50px 0; */
    gap: 30px 0;
  }

  .logoWrapper {
    /* width: 100%; */
    width: 100px;
  }

  .asidesa {
    width: fit-content;
  }

  .mine {
    display: flex;
    flex-direction: row;
    gap: 0 20px;
  }

  .wrapper > aside:nth-child(1) {
    padding: 0sd 10px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    place-content: center;
    height: 100px;
    border-radius: 0;
  }

  .mine {
    border: none;
    margin-left: 20px;
    border-left: 1px solid #80808070;
    padding-top: 0;
    margin-top: 0;
    padding-left: 20px;
  }

  .mainHeader h3 {
    /* font-size: 40px; */
    font-size: 30px;
  }

  .btns {
    /* gap: 0 35px; */
    gap: 0 15px;
  }

  .leftNovices p {
    font-size: 14px;
  }

  li.novo {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    gap: 0;
  }

  .createdAt {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .clienName {
    grid-column: 3/4;
    text-align: fd;
  }

  li.novo > h3:nth-child(4) {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  li.novo > p:nth-child(3) {
    text-align: end;
  }

  li.novo > span:nth-child(5) {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  li.novo > button:nth-child(6) {
    grid-row: -1;
    grid-column: 3/4;
    display: none;
  }

  li.novo {
    grid-template-columns: 1fr 1fr;
  }
  .clienName {
    grid-column: 2/3;
  }
  li.novo > span:nth-child(5) {
    grid-column: 2/3;
  }
  .btns {
    flex-direction: column-reverse;
    gap: 25px 0;
  }

  .NewInvoiceAdd {
    width: 100%;
    left: 0;
  }

  div.CountryName:nth-child(5) {
    grid-column: 1/-1;
  }

  div.CityName:nth-child(3) {
    grid-column: 1/3;
  }

  div.PostCode:nth-child(4) {
    grid-column: 3/5;
  }

  .billFrom {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .threeDivs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  div.CountryName:nth-child(3) {
    grid-column: 1/-1;
  }

  .NewInvoiceAdd {
    padding: 10px 15px;
  }

  .formControl {
    display: flex;
    justify-content: space-between;
  }

  .formControl button {
    padding: 12px;
    font-size: 12px;
  }

  .saveDraft {
    margin-right: 5px;
  }

  .logoWrapper {
    height: 70px;
  }

  .wrapper > aside:nth-child(1) {
    height: 70px;
  }
  .viewInvoice {
    grid-column: 1/-1;
    margin-top: 1rem;
  }

  .viewInvoice {
    padding-left: 10px;
    padding-right: 10px;
  }

  article.artFie:nth-child(2) {
    padding: 20px 10px;
  }

  .rightSer {
    gap: 0 10px;
  }

  .rightSer .rgDelete {
    padding: 14px 15px;
    font-size: 14px;
  }

  .rightSer button {
    padding: 12px 13px;
    font-size: 14px;
  }
  .summaryl > h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .midArticle {
    grid-row: 3/4;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    margin-top: 1rem;
    gap: 10px 0;
  }

  .secondTickle {
    grid-template-rows: auto auto auto auto;
  }

  .articleFooter {
    grid-row: 4/5;
  }

  .address {
    align-self: flex-start;
    justify-self: flex-start;
  }

  .sentToo {
    grid-row: 3/4;
  }

  .paymentDue {
    grid-row: 2/3;
  }

  .billToos {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .address {
    grid-row: grid;
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .articleFooter {
    margin: 0;
  }

  .tableLike {
    padding: 8px;
  }

  .tableLike > ul {
    gap: 20px 5px;
  }

  .tableLike > ul {
    grid-template-columns: 1fr auto 1fr 1fr;
  }

  .itemViewDis {
    grid-template-columns: 1fr auto 1fr 1fr;
    grid-gap: 0 12px;
  }

  li.itemViewDis:nth-child(5) > h4:nth-child(2) {
    grid-column: 2/3;
  }

  .rightSer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  button.rgDelete:nth-child(3) {
    grid-column: 1/-1;
    margin-top: 15px;
  }

  .leftSer {
    flex-direction: column;
    gap: 35px 0;
    padding-top: 10px;
  }

  article.artFie:nth-child(2) {
    gap: 0 15px;
  }

  .deleteWrapper > section:nth-child(1) {
    padding: 1rem;
    width: 90vw;
  }

  .deleteWrapper > section > h2 {
    /* font-size: 30px; */
    font-size: 20px;
  }
}
